DB_HOST=localhost
DB_PORT=3306
MYSQL_DATABASE=autospec
MYSQL_USER=root
MYSQL_PASSWORD=your_local_mysql_password
DB_SCHEMA_DIR=../scheme
SQL_INIT_MODE=always
AGENT_ENGINE_BASE_URL=http://localhost:8000

REDIS_HOST=localhost
REDIS_PORT=6379
