DB_HOST=localhost
DB_PORT=3306
MYSQL_DATABASE=autospec
MYSQL_USER=root
MYSQL_PASSWORD=your_local_mysql_password
DB_SCHEMA_DIR=../scheme
SQL_INIT_MODE=always
AGENT_ENGINE_BASE_URL=http://localhost:8000

REDIS_HOST=localhost
REDIS_PORT=6379
WORKFLOW_EVENT_POLLING_ENABLED=false
WORKFLOW_EVENT_CONSUMER_NAME=control-plane
WORKFLOW_EVENT_BATCH_SIZE=10
WORKFLOW_EVENT_BLOCK_TIMEOUT=1s
WORKFLOW_EVENT_FIXED_DELAY=1000
WORKFLOW_EVENT_INITIAL_DELAY=1000
WORKFLOW_RECOVERY_ENABLED=false
WORKFLOW_RECOVERY_LEASE_TIMEOUT=30s
WORKFLOW_RECOVERY_FIXED_DELAY=5000
WORKFLOW_RECOVERY_INITIAL_DELAY=5000
